.mainPage {
  margin-left: 15px;
}

.mainPageText {
  display: block;
  align-items: center;
  font-size: 50px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:rgb(16, 78, 16);
  text-align: center;
  margin-bottom: 15px;
}