* {
  box-sizing: border-box;
  margin: 0;
}

.headerContent {
  text-align: center;
  background: rgb(233,245,215);
  background: linear-gradient(180deg, rgb(166, 241, 147) 0%,
  white 98%);
}

.headerText {
  font-size: 50px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:rgb(42, 52, 42);
} 