* {
  box-sizing: border-box;
  margin: 0;
}

.headerContent {
  text-align: center;
  background-color: aqua;
  font-size: 36px;
  color:black;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}